@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mulish:ital@1&family=Sedgwick+Ave+Display&display=swap');

:root {
    --primary-color: #07070A;
    --secondary-color: #FEFFFE;
    --accent1-color: #3e78b2;
    --accent2-color: #004BA8;

    --heading-font: 'Caveat', serif;
    --paragrpah-font: 'Mulish', serif;

    --nav-background-color: #FEFFFE;
    --nav-link-color: #004BA8;
    --nav-hover-link-color: #3E78B2;
    --nav-hover-background-color: #07070A;
}

* {
    max-width: 960px;
    margin: auto;
}

body, html {
    height: 100%;
}

h1, h2 {
    font-family: var(--heading-font);
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h2 {
    font-size: xx-large;
}

.box {
    position: absolute;
    min-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(62, 120, 178, 0.8);
    color: white;
}

article img {
    float: right;
    padding: 10px;
}

p {
    font-family: var(--paragrpah-font);
    padding: 10px;
}

.hero:first-child {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div hero {
    position: relative;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bar a {
    color: var(--accent1-color);
    display: block;
    padding: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--accent1-color);
}

.history {
    display: grid;
    padding: 50px;

}

.gallery {
    display: grid;
    grid-gap: 15px;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 1fr));
    grid-template-rows: repeat(1, minmax(auto, 1fr));
    grid-gap: 2px;
}

.rafting1 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    font-family: var(--paragrpah-font);
}

.rafting2 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    font-family: var(--paragrpah-font);
}

.rafting3 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    font-family: var(--paragrpah-font);
}

.rafting4 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    font-family: var(--paragrpah-font);
}

.rafting5 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    font-family: var(--paragrpah-font);
}

footer {
    margin-top: 80px;
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 70% 1fr;
}

.sociallinks {
    display: flex;
    justify-content: flex-start;
}